# --- Java & Maven ---
*.class
*.log
target/
!.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ / IDEs ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.sts4-cache

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Infrastructure & Docker (CRITICAL) ---
# Ignore the actual data stored by your containers
infrastructure/mysql_data/
infrastructure/elastic_data/
infrastructure/kafka_data/
infrastructure/zookeeper_data/

# Ignore environment secret files if you create them later
.env
*.env

# --- Package Files ---
*.jar
*.war
*.zip
*.tar.gz